body {
    background: #e0e0e0;
    padding-top: 50px;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    min-height: 100vh
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  min-height: 100vh;
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin-top: 30px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px #b0b0b0;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  max-width: 340px;
}

.calculator {
    background: #e0e0e0;
    padding: 30px;
    border-radius: 30px;
    box-shadow: -10px -10px 30px #ffffff, 10px 10px 30px #bebebe;
    width: 320px;
    max-height: fit-content;
}

.display {
    background: #e0e0e0;
    height: auto;
    font-size: 2rem;
    text-align: right;
    padding: 15px 20px;
    border-radius: 20px;
    margin-bottom: 25px;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-wrap: break-word;
    min-height: 70px;
}

.history {
  font-size: 1.1rem;
  color: #888;
  min-height: 20px;
}

.result {
  font-size: 2rem;
  color: #333;
  min-height: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.btn {
    font-family: 'Orbitron', sans-serif;
    background: #e0e0e0;
    border: none;
    border-radius: 15px;
    font-size: 1.4rem;
    padding: 18px;
    cursor: pointer;
    color: #333;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #bebebe;
    transition: box-shadow 0.8s ease, transform 0.5s ease;
}

.btn:hover {
  box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #bebebe;
}

.btn:active {
  transform: scale(0.97);
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.equals {
    grid-row: span 2;
}

.zero {
    grid-column: span 2;
}